section {
    margin-top:65px;
    width: 100%;
}

.content {
    width: 50%;
    padding: 25px;
    margin: 0 auto;
    background-color: #ffcaa2;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.form input {
    border-radius: 25px;
    padding: 15px;
    border: none;
}

.form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.submit {
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 35px;
    width: 50%;
}

.confirm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hidden {
    display: none;
    margin: 0;
    padding: 0;
}

.signup {
    text-decoration: none;
    margin-top: 10px;
}

a:link, a:visited  {
    color: #2E294E;
}

a:hover, a:active  {
    color: #00a2ff;
}