.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap:2rem
}

.sectionDiv {
    border: 1px solid black;
    padding: 0 1rem;
    line-height: 3;
    font-size: 1rem;
}

.sectionDiv h2 {
    text-align: center;
}



.sectionDiv div {
    display: flex;
    justify-content: space-between;
}

.sectionDiv div:not(.sectionDiv div:last-of-type) {
    border-bottom: 1px solid black;
}

@media screen and (max-width: 768px) {
    .flex:not(.no) {
        flex-direction: column;
        align-items: center;
    }
    .section {
        width: 90%;
    }
}